@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #5175AD;
}
.main_header {
    background-color: #39547f;
    width: 80%;
    display: flex;
    margin: auto;
    padding: 20px;
    font-family: 'PT Sans', sans-serif;
    color: #DAEAFF;
    justify-content: space-between;
}
.main_header a{
    color: #DAEAFF;
    text-decoration: none;
}
h1 {
    margin-left: 20px;
}
.main_menu {
    font-size: 24px;
    padding: auto;
}
.main {
    width: 80%;
    height: 1500px;
    background-color: #466494;
    margin: auto;
}